.layout{
  
}
.card{
    display:flex;
    flex-direction: row;
    height: 300px;
    max-width: 900px;
    padding: 20px; 
    border: solid 1px rgb(199, 206, 212);
    margin: 10px;
    border-radius: 3px;
    justify-content: space-between;
}

.productimage{
    align-self: center;
    width: 100%;
    height: 90%;
    object-fit: contain;

}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.productinfo{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px 0px;
}

.producttitle{
    font-size: 20px;
    font-weight:bold;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addbutton{
    width: 100%;
    height: 35px;
    align-self: center;
    background-color: rgb(141, 222, 245);
    border: 0px;
    border-radius: 4px;
    color: rgb(38, 34, 34)
}

.addbutton:hover{
    transform: scale(1.06);
    color: black
}
.deletebutton{
    display: flex;
    justify-content: right;
    padding: 3px;
    margin-bottom: 10px;
}

.cartactions{
    display: flex;
    align-items: center;
    width: 250px;
    gap: 10px;
}

.quantity{
    display: flex;
    align-items: center;
    height: 30px;
    border: 0px;
}