.navbar{
    display:flex;
    padding: 10px 20px;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(181,177,181,0.49);
    -moz-box-shadow: 0px 3px 5px 0px rgba(181,177,181,0.49);
    box-shadow: 0px 3px 5px 0px rgba(181,177,181,0.49);
}

.elements{
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.element{
    cursor: pointer;
}

.element:hover{
    font-weight: 600;
}